body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh
}
.app-container{
  max-width: 1140px;
  width: 100%;
  padding: 0 10px;
  margin: 50px auto 0;
}
.header{
  position: sticky;
  width: 100%;
  z-index: 10;
  top: 0;
}
.shop-wrapper{
  flex: 1;

}


.shop-items{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.shop-item{
  max-width: 300px;
  width: 100%;
  margin: 15px;

}
.shop-item .card{
  margin: 0;
}

.shop-item img{
  max-width: 300px;
 }

.modal-info{
  position: fixed;
  right: 0;
  top: 15%;
  background: rgba(21, 101, 192, 0.1);
  padding: 20px   30px;
  border-radius: 30px;
  font-weight: 800;
}

.price {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price span{
  color: rgb(228, 74, 74);
}
.price-old{
  font-weight: 600;
  font-size: 14px;
}
.price-old span{
  text-decoration: line-through;

}
.price-new{
  font-size: 18px;
}


.btn-buy.btn-floating.halfway-fab{
  position: static;
  width: 120px;
  border-radius: 0px;
  text-align: center;
  color: rgb(255, 255, 255);

}
.nav-wrapper{
  max-width: 1180px;
    margin: 0 auto;
}
.card .card-image .card-title{
  width: 100%;
  padding: 15px;
  background-color: rgba(0,0,0, .5);
}
.card-title span{
  display: block;
  font-size: 14px;
  color: aquamarine;
}
.cart__icon{
  position: relative;
  cursor: pointer;
}
.cart__icon a{
  padding-right: 25px;
}
.cart__icon-num{
  position: absolute;
  top: 0;
  right: 10px;

}
.card-content{
  min-height: 140px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.basket__item{
  max-width: 800px;
  display: flex;
  align-items: center;
  background-color: rgba(208, 224, 238, 0.1);
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid rgba(208, 224, 238, 0.8);
}
.basket__item-preview{
  width: 70px;
}
.basket__item-text{
  margin-left: 15px;
  flex: 1;
}
.basket__item-delete{
  border: 1px solid #d5d5d5;
  padding: 5px 25px;
  border-radius: 25px;
  cursor: pointer;
}
.basket-empty h2{
  font-weight: 700;
    letter-spacing: -4px;
}



.btn-basket{
  margin: 50px 0;
}
.main-btn{
  padding: 12px 30px;
  border-radius: 15px;
  background-color: #1565C0;
  color: aliceblue;
  box-shadow: 4px 7px 12px 0px rgba(0,0,0, .1);
  transition: all 0.5s;
}

.main-btn:hover{
  box-shadow: 4px 7px 12px 0px rgba(0,0,0, .3);
}

.categorie{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  transition: all 0.5s;
  margin-bottom: 30px;
  padding: 15px 0;
  border-top: 1px solid #448fe4;
  border-bottom: 1px solid #448fe4;
}

.categorie li {
  padding: 2px 5px;
  margin: 5px 5px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 600;
  color: #000000;
  background-color: rgba(72, 143, 224, 0.1);
  border: 1px solid #abcbf5;
  transition: all 0.5s;

  font-weight: 600;
}
.categorie li:hover{
  background-color: rgba(72, 143, 224, 0.4);
  color: rgb(24, 26, 26);
}

.categorie li.active{
  background-color: rgba(72, 143, 224, 0.8);
  color: azure;
}
.categorie.active{
  display: flex;
  justify-content: left;
  transform: translateX(0%);
}
.categorie-wrapper{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

